/* ------------------- */
/* Custom properties   */
/* ------------------- */

:root {
    /* colors */
    --clr-cyan: 176 50% 47%;
    --clr-darkCyan: 176 72% 28%;
    --clr-black: 0 0% 0%;
    --clr-darkGray: 0 0% 48%;

    /* font-sizes */
    --fs-900: 2rem;
    --fs-800: 1.25rem;
    --fs-700: 1.125rem;
    --fs-600: 1rem;
    --fs-500: 0.875rem;
}

@media (min-width: 35em) {
    :root {
        --fs-900: 4rem;
        --fs-800: 1.5rem;
        --fs-700: 1.25rem;
    }
}

@media (min-width: 45em) {
    :root {
        /* font-sizes */
        --fs-900: 7rem;
        --fs-800: 1.75rem;
        --fs-700: 1.5rem;
        --fs-600: 1.125rem;
        --fs-500: 1rem;
    }
}

/* ------------------- */
/* Reset               */
/* ------------------- */

/* Box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: 400;
}

/* set up the body */
body {
    font-family: 'Commissioner', sans-serif;
    line-height: 1.5;
    min-height: 100vh;
    display: grid;
    grid-template-rows: min-content min-content 1fr;
    overflow-x: hidden;

}

/* make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
    font: inherit;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


/* ------------------- */
/* Utility classes     */
/* ------------------- */

/* general */

.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

.grid {
    display: grid;
    gap: var(--gap, 1rem);
}

.flow > *:where(:not(:first-child)) {
    margin-top: var(--flow-space, 1rem);
}

.container {
    padding-inline: 2em;
    margin-inline: auto;
    max-width: 80rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

/* colors */

.text-black { color: hsl( var(--clr-black) );}
.text-gray { color: hsl( var(--clr-darkGray) );}
.text-cyan { color: hsl( var(--clr-cyan) );}

/* typography */

.uppercase { text-transform: uppercase; }

.fs-900 { font-size: var(--fs-900); }
.fs-800 { font-size: var(--fs-800); }
.fs-700 { font-size: var(--fs-700); }
.fs-600 { font-size: var(--fs-600); }
.fs-500 { font-size: var(--fs-500); }



/*    Layout    */


.header {
    font-family: 'Hurricane', cursive;
    text-align: center;
    margin-top: 3rem;
    margin-inline: auto;
}

.main {
    margin-inline: auto;
}

.main h2 {
    margin-bottom: 2rem;
}


.list-projects {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.5rem;
}

a { 
    text-decoration: none;
    color: black;
}

a:hover {
    color: lightskyblue;
}

.box {
    width: 28rem;
    border: solid 1px hsl( var(--clr-cyan) );
}
